---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);



// Base variables

$base-font-family:  Verdana, Geneva, sans-serif;
$base-font-size:    18px;
$base-font-weight:  300;
$base-line-height:  1.5;

$base-font-color:   #333333;

$brand-color:       #CC0099;
$brand-color-hover: #FF0099;

$brand-color-button: $brand-color;
$brand-color-button-hover: #B8008A;
$brand-color-button-outline: #B8008A;
$brand-color-button-outline-hover: #A3007A;

$background-light:  #FFFFFF;
$background-medium: #F8F8F8;
$background-dark:   #F0F0F0;

$object-light:      #EEEEEE;
$object-medium:     #E8E8E8;
$object-dark:       #E0E0E0;

$spacing-unit:      30px;



// Import partials
@import "base";



// Base styles 

body { 
  padding-top: 70px;
  padding-bottom: $spacing-unit;
  font-family: $base-font-family;
  font-size:   $base-font-size; 
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color:       $base-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4, h5, h6 {
  margin-top: $spacing-unit;
}

a {
  color: $brand-color;
}

a:hover {
  color: $brand-color-hover;
}

.lead {
  font-size: 125%;
  font-weight: 400;
}

.blog-index-front, .library-index {
  margin-bottom: $spacing-unit;
}

.blog-index {
  margin-top: $spacing-unit * 2;
}

.primary {
  color: $brand-color;
}

a.btn-default {
  color: $brand-color;
}

a.btn-default:hover {
  color: $brand-color-hover;
}

// Nav

.logo {

  font-size: 28px;
  font-weight: 500;
  margin: 10px 30px 0px 0px;
  
  img {
    height: 24px;
    margin: 0px 5px 0px 0px;
    vertical-align: baseline;  
  }
    
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  a:hover {
    border-bottom: 1px solid #FFFFFF;
  }
  
  small {
    font-weight: normal;
    font-size: 50%;
  }
  
}

.navbar {
  border-bottom: 5px solid $brand-color;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-left: 10px;
  }
}



// Splash

.jumbotron {
  background-color: $background-light;
}

.col-front {
  margin-bottom: $spacing-unit * 2;
}

// Panels

.panel {
  margin-top: $spacing-unit;
}

.panel-body {
  font-size: 80%;
}



// Buttons

.btn-primary {
  background-color: $brand-color-button;
  border-color: $brand-color-button-outline;
}

.btn-primary:hover {
  background-color: $brand-color-button-hover;
  border-color: $brand-color-button-outline-hover;  
}

.btn-front {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}



// Footer

.footer {

  color: #999999;
  font-size: 80%;

}
