---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";



// Base variables

$base-font-family:  Helvetica, Arial, sans-serif;
$base-font-size:    18px;
$base-font-weight:  normal;
$base-font-color:   #666666;

$base-line-height:  1.5;

$brand-color:       #CC0099;
$brand-color-hover: #FF0099;

$brand-color-button:                #CC0099;
$brand-color-button-hover:          #B8008A;
$brand-color-button-outline:        #B8008A;
$brand-color-button-outline-hover:  #A3007A;

$spacing-unit:      30px;



// Base styles 

body { 
  padding-top:    70px;
  padding-bottom: $spacing-unit;
  font-family:    $base-font-family;
  font-size:      $base-font-size; 
  font-weight:    $base-font-weight;
  color:          $base-font-color;  
  line-height:    $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

.lead {
  font-size: 125%;
}

.jumbotron {
  color: #000000;
  background-color: #FFFFFF;
}

a, a.btn-default {
  color: $brand-color;
}

a:hover, a.btn-default:hover {
  color: $brand-color-hover;
}

.btn-primary {
  background-color: $brand-color-button;
  border-color: $brand-color-button-outline;
}

.btn-primary:hover {
  background-color: $brand-color-button-hover;
  border-color: $brand-color-button-outline-hover;  
}



// Spacing

h3, h4, h5, h6 {
  margin-top: $spacing-unit;
}

.btn-front {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.col-front {
  margin-bottom: $spacing-unit * 2;
}

.blog-index, .library-index {
  margin-bottom: $spacing-unit;
}

.well h3 {
  margin-top: $spacing-unit / 3;
}



// Navbar

.logo {

  font-size: 28px;
  font-weight: 500;
  margin: 10px 30px 0px 0px;
  
  img {
    height: 24px;
    margin: 0px 5px 0px 0px;
    vertical-align: baseline;  
  }
    
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  a:hover {
    border-bottom: 1px solid #FFFFFF;
  }
  
  small {
    font-weight: normal;
    font-size: 50%;
  }
  
}

.navbar {
  border-bottom: 5px solid $brand-color;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-left: 10px;
  }
}