<div class="container">

  <div class="row">
  
    <div class="col-md-12">
      <hr />
    </div>
  
  </div>
  
  <div class="row">
  
    <div class="col-md-4">
      <p class="small"><i class="fa fa-envelope text-muted"><a href="https://docs.google.com/a/yiu.co.uk/forms/d/1gkS6vK77ik3tSqwN8qsuB6gNE6UE2lXI-O5wnBKiBR4/viewform" target="_blank">Join our mailing list</a></p>
    </div>
    
    <div class="col-md-4">
      <p class="text-center small"></p>
    </div>    
    
    <div class="col-md-4">
      <p class="text-right small"><i class="fa fa-twitter text-muted"></i> <a href="https://twitter.com/ungovuk/">@UNGOVUK</a><br />
      <i class="fa fa-github text-muted"></i> <a href="https://github.com/ungov/">@UNGOV</a></p>
    </div>
  
  </div>

</div>