<div class="navbar navbar-inverse navbar-fixed-top banner" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h2 class="logo"><a href="/"><img src="/images/logo-header.png" />{{site.title}}</a><small> Alpha</small></h2>
    </div>
    
    {% assign current = page.url | downcase | split: '/' %}
    
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{% if current[1] == "submit" %} class="active"{% endif %}><a href="/submit/">Submit</a></li>        
        <li{% if current[1] == "library" %} class="active"{% endif %}><a href="/library/">Library</a></li>
        <li{% if current[1] == "contact" %} class="active"{% endif %}><a href="/contact/">Contact</a></li>
        <li{% if current[1] == "about" %} class="active"{% endif %}><a href="/about/">About</a></li>                     
        <li{% if current[1] == "blog" %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
      </ul>
    </div>
    
  </div>
</div>