---
layout: default
title: Policy library
permalink: /library/
disqus-comment-count: true
---

<div class="row">

  <div class="col-md-12">
    <h1>{{ page.title }}</h1>
    <hr />
    <p>This is where the magic happens. All of the policy proposals we are working on are set out below. Choose a proposal to review and then add your contribution either in the comments or by editing the proposal itself.</p>
    <hr />
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <h3>Public services<br><small>Including education, health and justice</small></h3>
    <hr />
    
      {% for page in site.pages %}
      {% if page.category == 'public-services' %}
      <p class="library-index"><strong><a href="{{page.url}}">{{page.title}}</a></strong><br />
      <small><a href="{{page.url | prepend: site.url | append: '#disqus_thread'}}"></a></small></p>
      {% endif %}
      {% endfor %}
  
  </div>

  <div class="col-md-4">
    <h3>Economy<br><small>Including tax, welfare and the public finances</small></h3>
    <hr />
    
      {% for page in site.pages %}
      {% if page.category == 'economy' %}
      <p class="library-index"><strong><a href="{{page.url}}">{{page.title}}</a></strong><br />
      <small><a href="{{page.url | prepend: site.url | append: '#disqus_thread'}}"></a></small></p>
      {% endif %}
      {% endfor %}
  
  </div>
  
  <div class="col-md-4">
    <h3>Growth<br><small>Including innovation, science and technology</small></h3>
    <hr />
    
      {% for page in site.pages %}
      {% if page.category == 'growth' %}
      <p class="library-index"><strong><a href="{{page.url}}">{{page.title}}</a></strong><br />
      <small><a href="{{page.url | prepend: site.url | append: '#disqus_thread'}}"></a></small></p>
      {% endif %}
      {% endfor %}
  
  </div>
  
</div>

<div class="row">

  <div class="col-md-4">
    <h3>Sustainability<br><small>Including infrastructure, energy and the environment</small></h3>
    <hr />
    
      {% for page in site.pages %}
      {% if page.category == 'sustainability' %}
      <p class="library-index"><strong><a href="{{page.url}}">{{page.title}}</a></strong><br />
      <small><a href="{{page.url | prepend: site.url | append: '#disqus_thread'}}"></a></small></p>
      {% endif %}
      {% endfor %}
  
  </div>

  <div class="col-md-4">
    <h3>Government<br><small>Including departments and public bodies, politics and democracy</small></h3>
    <hr />
    
      {% for page in site.pages %}
      {% if page.category == 'government' %}
      <p class="library-index"><strong><a href="{{page.url}}">{{page.title}}</a></strong><br />
      <small><a href="{{page.url | prepend: site.url | append: '#disqus_thread'}}"></a></small></p>
      {% endif %}
      {% endfor %}
  
  </div>

  <div class="col-md-4">
    <h3>International<br><small>Including development, foreign policy and defence</small></h3>
    <hr />
    
      {% for page in site.pages %}
      {% if page.category == 'international' %}
      <p class="library-index"><strong><a href="{{page.url}}">{{page.title}}</a></strong><br />
      <small><a href="{{page.url | prepend: site.url | append: '#disqus_thread'}}"></a></small></p>
      {% endif %}
      {% endfor %}
  
  </div>

</div>