---
layout: default
---

<div class="row">
  <div class="col-md-8 col-front">

    <h1>{{ page.title }}</h1>
    <p class="text-muted"><small>{{ page.date | date: "%d %B %Y" }}</small></p>
    <hr />
    
    <p class="lead">{{ page.excerpt }}</p>
    <hr />
    
    {% if page.featured-image %}<p><img src="/images/{{ page.featured-image }}" /></p>{% endif %}

    {{ content }}
    
    <h4>Share</h4>
    
    {% include social-buttons.html %}
    
  </div>
  <div class="col-md-4">
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    {% include disqus-comment.html %}    
    
  </div>
  <div class="col-md-4">
  </div>
</div>